bin/Debug/netcoreapp2.2/OOP_API1.deps.json
bin/Debug/netcoreapp2.2/OOP_API1.dll
bin/Debug/netcoreapp2.2/OOP_API1.pdb
bin/Debug/netcoreapp2.2/OOP_API1.runtimeconfig.dev.json
bin/Debug/netcoreapp2.2/OOP_API1.runtimeconfig.json
obj/OOP_API1.csproj.nuget.cache
obj/OOP_API1.csproj.nuget.dgspec.json
obj/OOP_API1.csproj.nuget.g.props
obj/OOP_API1.csproj.nuget.g.targets
obj/project.assets.json
obj/Debug/netcoreapp2.2/OOP_API1.AssemblyInfo.cs
obj/Debug/netcoreapp2.2/OOP_API1.AssemblyInfoInputs.cache
obj/Debug/netcoreapp2.2/OOP_API1.assets.cache
obj/Debug/netcoreapp2.2/OOP_API1.csproj.CoreCompileInputs.cache
obj/Debug/netcoreapp2.2/OOP_API1.csproj.FileListAbsolute.txt
obj/Debug/netcoreapp2.2/OOP_API1.csprojAssemblyReference.cache
obj/Debug/netcoreapp2.2/OOP_API1.dll
obj/Debug/netcoreapp2.2/OOP_API1.pdb
.vscode/launch.json
.vscode/tasks.json
